<!DOCTYPE html>
<html>
  <head>
    <title>課金通知ログ</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const socket = io();
        socket.on('chat message', (msg) => {
          const item = document.createElement('li');
          item.textContent = msg;
          document.querySelector('#messages').appendChild(item);
        });
      });
    </script>
  </head>
  <body>
    <h2>課金通知タイムライン</h2>
    <hr>
    <ul id="messages"></ul>
    </body>
</html>