<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
</head>

<body>
    <h1>!!メニュー一覧!!</h1>
    <p><a href="/english">英語</a></p>
    <p><a href="/france">フランス語</a></p>
    <p><a href="/germany">ドイツ語</a></p>
    <p><a href="/omikuji1">おみくじ１</a></p>
    <p><a href="/omikuji2">おみくじ２</a></p>
    <p><a href="/omikuji3">おみくじ３</a></p>
</body>

</html>