<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>情報工学科の専門科目</title>
</head>
<body>
  <h2>情報工学科の専門科目一覧</h2>
  <hr>
  <table border="1">
    <tr><th>セメスター</th><th>科目名</th></tr>
      <% let number=0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.semester %>S</td>
        <td><a href="/subject/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>

  <a href="/subject/create">登録</a>

</body>
</html>